@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-principal: #ef0307;
    --color-secundary: rgb(247, 247, 247);
    --color-terciary: rgba(0, 0, 0, 0.5);
    --color-quaternary: #043472;
    --fontSize-principal: 56px;
    --fontSize-secundary: 16px;
    --width-total: 100%;
    --width-principal: 90%;
    --borderRadius-principal: 40px;
    --fontFamily--principal: "Inter Tight", sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily--principal);
}

/* #region HEADER */

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    background-color: var(--color-principal);
    color: var(--color-secundary);
}

.header__box{
    width: var(--width-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    width: 65px;
}

.header__titleBox{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.header__title{
    font-size: var(--fontSize-principal);
}

.nav{
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link{
    font-size: var(--fontSize-secundary);
    background-color: transparent;
    border: none;
    color: var(--color-secundary);
    font-weight: 600;
    font-family: var(--fontFamily--principal);
    transition: 0.5s;
    text-decoration: none;
}

:hover.nav__link{
    color: var(--color-quaternary);
}

.nav__item {
    position: relative;  
    display: none; 
}

.dropdown {
    position: absolute;
    background-color: var(--color-principal);
    top: 130%;
    left: auto;
    right: 0;
    border-radius: 10px;
    min-width: 200px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
    z-index: 999;
    padding: 10px;
}

.nav__item:hover .dropdown {
    visibility: visible;
    transform: translateY(0);
}


/* #endregion */

/* #region FOOTER */

.footer{
    width: var(--width-total);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer__box{
    width: var(--width-principal);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 50px;
    border-top: 2px solid var(--color-terciary);
    padding-top: 25px;
}

.footer__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: start;
    gap: 25px;
    margin-left: 100px;
}

.footer__column{
    display: flex;
    flex-direction: column;
}

.footer__text{
    text-decoration: none;
    color: var(--color-terciary);
    margin: 5px 0;
    transition: 0.5s;
}

.footer__text:hover{
    color: var(--color-quaternary);
    scale: 1.1;
}

.footer__left{
    margin-right: 40px;
}

.footer__title3{
    text-align: center;
}

.footer__img{
    width:170px;
    margin-right: 40px;
    transition: 0.5s;
}

.footer__img:hover{
    filter: saturate(100%) invert(12%) sepia(96%) saturate(7467%) brightness(95%);
}

.footer__icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__icon{
    width: 40px;
    opacity: 0.5;
    transition: 0.5s;
}

.footer__icon:hover{
    scale: 1.1;
    opacity: 1;
}

.footer__description{
    color: var(--color-terciary);
}

.footer__form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
    margin-right: 150px;
    align-items: center;
    justify-content: center;
}

.footer__input{
    width: var(--width-total);
    height: 25px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--color-terciary);
    font-family: var(--fontFamily--principal);
    font-size: 15px;
}

.footer__input::placeholder{
    font-family: var(--fontFamily--principal);
    font-size: 15px;
}

/* #endregion FOOTER */

/* #region ELEMENTOS COMUNES */

.button{
    background-color: var(--color-quaternary);
    border: 4px solid #021e44;
    font-size: var(--fontSize-secundary);
    padding: 10px 25px;
    color: var(--color-secundary);
    border-radius: var(--borderRadius-principal);
    font-family: var(--fontFamily--principal);
    transition: 0.5s;
    font-weight: 600;
}

.button:hover{
    background-color: var(--color-principal);
    color: var(--color-secundary);
    border: 4px solid #690102;
    scale: 1.1;
}

.title{
    color: var(--color-quaternary);
    font-family: var(--fontFamily--principal);
    font-size: 48px;
    font-weight: 800;
}

.progress{
    position: fixed;
    width: 100%;
    height: 6px;
    background: transparent;
    z-index: 1000;
}

.progress__bar{
    height: 100%;
    background: var(--color-principal);
}

/* #endregion */

/* #region HOME */

.heroHome{
    width: 100%;
    background-image: linear-gradient(var(--color-terciary)), url(./Imagenes/Home/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
    overflow: hidden;
}

.heroHome__carousel{
    display: flex;
    width: 300%;
    animation: slideAnimation 9s infinite;
    align-items: center;
    height: var(--width-total);
    margin: 150px 0;
}

.heroHome__slide{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.heroHome__slide--shirts{
    background-image: linear-gradient(var(--color-terciary)), url(./Imagenes/Home/On_The_Road_Desktop_2000x1150px.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.heroHome__slide--tour{
    background-image: linear-gradient(var(--color-terciary)), url(./Imagenes/Home/FCACNJWWEAQHRKL.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.heroHome__title{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 80px;
    color: var(--color-secundary);
    font-weight: 600;
    font-family: var(--fontFamily--principal);
}

.heroHome__match{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -125px;
    margin-bottom: -100px;
    gap: 25px;
}

.heroHome__text{
    color: var(--color-secundary);
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

.heroHome__img{
    height: 200px;
    margin-top: 0;
}

.heroHome__vs{
    font-weight: 600;
    font-size: 150px;
    color: var(--color-secundary);
}

@keyframes slideAnimation {
    0%   { transform: translateX(0%); }
    30%  { transform: translateX(0%); }
    33%  { transform: translateX(-100%); }
    63%  { transform: translateX(-100%); }
    66%  { transform: translateX(-200%); }
    96%  { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
}

.newsHome{
    width: var(--width-total);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsHome__div{
    width: var(--width-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsHome__boxs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width-total);
    gap: 25px;
}

.newsHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #021e44;
    transition: 0.5s;
}

.newsHome__box:hover{
    transform: translateY(-10px);
    border: 8px solid var(--color-principal);
}

.newsHome__img{
    height: 500px;  
    margin: 0 auto;
    width: 100%;        
    object-fit: cover;
}

.newsHome__text{
    margin: 0 0 25px 25px;
}

.playersHome{
    width: var(--width-total);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsHome__div{
    width: var(--width-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsHome__boxs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width-total);
    gap: 55px;
}

.newsHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #021e44;
    transition: 0.5s;
}

.newsHome__box:hover{
    transform: translateY(-10px);
    border: 8px solid var(--color-principal);
    scale: 1.05;
}

.newsHome__img{
    height: 500px;
}

.newsHome__text{
    margin: 0 0 25px 25px;
}

.trophiesHome{
    width: var(--width-total);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin-top: 50px;
}

.trophiesHome__carousel{
    display: flex;
    width: var(--width-principal);
    align-items: center;
    justify-content: center;
    height: var(--width-total);
    margin: 150px 0;
    gap: 55px;
    overflow: hidden;
}

.trophiesHome__slide{
    width: var(--width-total);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.trophiesHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #021e44;
    transition: 0.5s;
}

.trophiesHome__box--1{
    animation: carousel3 10s infinite;
}

.trophiesHome__box--2{
    animation: carousel2 10s infinite;
}

.trophiesHome__box--3{
    animation: carousel1 10s infinite;
}

.trophiesHome__img{
    height: 300px;
    margin: 0 auto;
    width: 100%;        
    object-fit: cover;
}

.trophiesHome__text{
    margin: 0 0 25px 25px;
}

@keyframes carousel1 {
    0%{transform: scale(1);}
    10%{transform: scale(1.1) translateX(550px);}
    20%{transform: scale(1.1) translateX(550px);}
    30%{transform: scale(1);}
    40%{transform: scale(1);}
    50%{transform: translateX(-700px);}
    60%{transform: translateX(-700px);}
    70%{transform: scale(1);}
}

@keyframes carousel2 {
    10%{transform: translateX(700px);}
    20%{transform: translateX(700px);}
    30%{transform: scale(1.1);}
    40%{transform: scale(1.1);}
    50%{transform: scale(1);}
    50%{transform: translateX(-700px);}
    60%{transform: translateX(-700px);}
    70%{transform: scale(1);}
}

@keyframes carousel3 {
    10%{transform: translateX(700px);}
    20%{transform: translateX(700px);}
    30%{transform: scale(1);}
    40%{transform: scale(1);}
    50%{transform: scale(1.1) translateX(-550px);}
    60%{transform: scale(1.1) translateX(-550px);}
    70%{transform: scale(1);}
}

/* #endregion */

/* #region CLOTHES */

.clothesHero{
    background-image: linear-gradient(var(--color-terciary)), url(./Imagenes/Home/On_The_Road_Desktop_2000x1150px.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    height: 800px;
    gap: 25px;
    padding-bottom: 50px;
}

.salesClothes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--width-total);
}

.salesClothes__carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.salesClothes__img{
    border-radius: 25px;
    object-fit: cover;
}

.salesClothes__box {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
    gap: 25px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.title--sales{
    position: absolute;
    margin-left: 50px;
}

.title--cross{
    text-decoration: line-through;
}

.clothes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--width-total);
}

.clothes__div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: var(--width-principal);
    gap: 50px;
}

.clothes__img{
    width: var(--width-total);
    height: 400px;
    background-image: url(./Imagenes/Clothes/m06975_f1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 15px 0 0;
    z-index: 1;
    transition: 0.5s;
}

.clothes__img:hover{
    background-image: url(./Imagenes/Clothes/m06975_f.webp);
    scale: 1.05;
}

.heart{
    position: absolute;
    margin-left: 10px;
    z-index: 2;
    transition: 0.5s;
}

.heart__input {
    display: none;
}

.heart__span {
    font-size: 40px;
    cursor: pointer;
    color: #ccc;
}

.heart__span::before {
    content: "❤︎";
}

.heart__input:checked + span::before {
    content: "❤︎";
    color: crimson;
    transition: 0.5s;
}

.heart:hover{
    scale: 1.05;
}

/* #region CLOTHES IMG */

.clothes__img--1{
    background-image: url(./Imagenes/Clothes/m06986_f1.webp);
}

.clothes__img--1:hover{
    background-image: url(./Imagenes/Clothes/m06986_f2.webp);
}

.clothes__img--2{
    background-image: url(./Imagenes/Clothes/u06898_f1.webp);
}

.clothes__img--2:hover{
    background-image: url(./Imagenes/Clothes/u06898_f.webp);
}

.clothes__img--3{
    background-image: url(./Imagenes/Clothes/u06966_f1.webp);
}

.clothes__img--3:hover{
    background-image: url(./Imagenes/Clothes/u06966_f2.webp);
}

.clothes__img--4{
    background-image: url(./Imagenes/Clothes/m06801_f1.webp);
}

.clothes__img--4:hover{
    background-image: url(./Imagenes/Clothes/m06801_f2.webp);
}

.clothes__img--5{
    background-image: url(./Imagenes/Clothes/m06934_f1.webp);
}

.clothes__img--5:hover{
    background-image: url(./Imagenes/Clothes/m06934_f2.webp);
}

.clothes__img--6{
    background-image: url(./Imagenes/Clothes/m06981_f1.webp);
}

.clothes__img--6:hover{
    background-image: url(./Imagenes/Clothes/m06981_f2.webp);
}

.clothes__img--7{
    background-image: url(./Imagenes/Clothes/m06989_f1.webp);
}

.clothes__img--7:hover{
    background-image: url(./Imagenes/Clothes/m06989_f2.webp);
}

.clothes__img--8{
    background-image: url(./Imagenes/Clothes/n06162_f1.png);
}

.clothes__img--8:hover{
    background-image: url(./Imagenes/Clothes/n06162_f.png);
}

.clothes__img--9{
    background-image: url(./Imagenes/Clothes/w06645_f1.png);
}

.clothes__img--9:hover{
    background-image: url(./Imagenes/Clothes/w06645_f2.png);
}

.clothes__img--10{
    background-image: url(./Imagenes/Clothes/w06642_f1.png);
}

.clothes__img--10:hover{
    background-image: url(./Imagenes/Clothes/w06642_f2.png);
}

.clothes__img--11{
    background-image: url(./Imagenes/Clothes/w06651_f1.png);
}

.clothes__img--11:hover{
    background-image: url(./Imagenes/Clothes/w06651_f2.png);
}

.clothes__img--12{
    background-image: url(./Imagenes/Clothes/w06673_f1.png);
}

.clothes__img--12:hover{
    background-image: url(./Imagenes/Clothes/w06673_f2.png);
}

.clothes__img--13{
    background-image: url(./Imagenes/Clothes/w06692_f1.png);
}

.clothes__img--13:hover{
    background-image: url(./Imagenes/Clothes/w06692_f2.png);
}

.clothes__img--14{
    background-image: url(./Imagenes/Clothes/w06711_f1.png);
}

.clothes__img--14:hover{
    background-image: url(./Imagenes/Clothes/w06711_f2.png);
}

.clothes__img--15{
    background-image: url(./Imagenes/Clothes/w06713_f1.png);
}

.clothes__img--15:hover{
    background-image: url(./Imagenes/Clothes/w06713_f2.png);
}

.clothes__img--16{
    background-image: url(./Imagenes/Clothes/jkb1794_f1.png);
}

.clothes__img--16:hover{
    background-image: url(./Imagenes/Clothes/jkb1794_f.png);
}

.clothes__img--17{
    background-image: url(./Imagenes/Clothes/n06159_f.png);
}

.clothes__img--17:hover{
    background-image: url(./Imagenes/Clothes/n06159_d2.png);
}

.clothes__img--18{
    background-image: url(./Imagenes/Clothes/k06726_f1.png);
}

.clothes__img--18:hover{
    background-image: url(./Imagenes/Clothes/k06726_f4.png);
}

.clothes__img--19{
    background-image: url(./Imagenes/Clothes/k06660_f.png);
}

.clothes__img--19:hover{
    background-image: url(./Imagenes/Clothes/k06660_b.png);
}

.clothes__img--20{
    background-image: url(./Imagenes/Clothes/k06659_f.png);
}

.clothes__img--20:hover{
    background-image: url(./Imagenes/Clothes/k06659_d.png);
}

.clothes__img--21{
    background-image: url(./Imagenes/Clothes/k06658_f.png);
}

.clothes__img--21:hover{
    background-image: url(./Imagenes/Clothes/k06658_d.png);
}

.clothes__img--22{
    background-image: url(./Imagenes/Clothes/k06656_f.png);
}

.clothes__img--22:hover{
    background-image: url(./Imagenes/Clothes/k06656_d.png);
}

.clothes__img--23{
    background-image: url(./Imagenes/Clothes/k06655_f.png);
}

.clothes__img--23:hover{
    background-image: url(./Imagenes/Clothes/k06655_d.png);
}



/* #endregion */


/* #endregion */

/* #region MEDIAQUERIES */

@media (max-width: 1050px){

    /* #region MEDIAQUERIES FOOTER */

    .footer__img{
        width: 100px;
    }

    .footer__info{
        margin-left: 0;
    }

    .footer__form{
        margin-right: 0;
    }

    .footer__info{
        margin-left: 50px;
    }

    .footer__left{
        margin-right: 15px;
    }

    .footer__input{
        height: 1px;
        width: 60%;
    }

    /* #endregion */

    /* #region MEDIAQUERIES HOME */

    .newsHome__img{
        height: 250px;
    }

    .newsHome__boxs{
        gap: 15px;
    }

    /* #endregion */

    /* #region MEDIAQUERIES CLOTHES */

    .salesClothes__img{
        height: 600px;
        width: 700px;
    }

    .title--sales{
        margin-left: 25px;
    }

    .clothes__div{
        grid-template-columns: repeat(3, 1fr);
    }

    .clothes__img{
        height: 300px;
    }

    /* #endregion */

}

@media (max-width: 768px){

    /* #region MEDIAQUERIES HEADER */

    .nav{
        display: none;
    }

    .nav__item{
        display: block;
    }

    /* #endregion */

    /* #region MEDIAQUERIES HOME */

    .newsHome__img{
        height: 200px;
    }

    .newsHome__box{
        border: 5px solid var(--color-quaternary);
    }

    .newsHome__boxs{
        gap: 5px;
    }

    .text--hidden{
        display: none;
    }

    .button{
        font-size: 10px;
    }

    .header__title{
        font-size: 30px;
    }

    .header__img{
        width: 40px;
    }

    /* #endregion */

    /* #region MEDIAQUERIES CLOTHES */

    .salesClothes__img{
        height: 400px;
        width: 500px;
    }

    .title--sales{
        margin-left: 25px;
    }

    .clothes__div{
        grid-template-columns: repeat(2, 1fr);
    }

    /* #endregion */

    /* #region MEDIAQUERIES FOOTER */

        .footer{
            font-size: 10px;
        }

        .footer__img{
            width: 90px;
        }

        .footer__icon{
            width: 20px;
        }

        .footer__input{
            height: 1px;
            width: 50%;
        }

        .footer__left{
            margin-right: 5px;
        }

        .footer__info{
            margin-left: 25px;
        }

    /* #endregion */

    /* #region MEDIAQUERIES CLOTHES */

    .trophiesHome__box{
        width: 600px;
        border: 5px solid var(--color-quaternary);
    }

    .trophiesHome__img{
        height: 400px;
    }

    .heroHome__title{
        font-size: 40px;
    }

    /* #endregion */

}

/* #endregion */


