@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-principal: #ef0307;
    --color-transparent: #ef03073d;
    --color-secundary: rgb(247, 247, 247);
    --color-terciary: rgba(0, 0, 0, 0.5);
    --color-quaternary: #9B824A;
    --color-quinary: #705f3a;
    --fontSize-principal: 56px;
    --fontSize-secundary: 16px;
    --width-total: 100%;
    --width-principal: 90%;
    --borderRadius-principal: 40px;
    --fontFamily--principal: "Inter Tight", sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily--principal);
    color: var(--color-secundary);
}

/* #region HEADER */

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    background-color: var(--color-principal);
}

.header__box{
    width: var(--width-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__image{
    width: 65px;
}

.header__titleBox{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.header__title{
    font-size: var(--fontSize-principal);
}

.nav{
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link{
    font-size: var(--fontSize-secundary);
    background-color: transparent;
    border: none;
    color: var(--color-secundary);
    font-weight: 600;
    font-family: var(--fontFamily--principal);
    transition: 0.5s;
}

:hover.nav__link{
    color: var(--color-quaternary);
}

/* #endregion */

/* #region FOOTER */

.footer{
    width: var(--width-total);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__box{
    width: var(--width-principal);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    border-top: 1px solid var(--color-terciary);
}

.footer__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column--big{
    height: 125px;
    width: 70%;
}

.footer__description{
    margin-top: -10px;
    margin-bottom: 40px;
    color: var(--color-terciary);
}

.footer__icons{
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__icon{
    width: 25px;
}

.footer__text{
    font-size: var(--fontSize-secundary);
    color: var(--color-terciary);
}

/* #endregion FOOTER */

/* #region ELEMENTOS COMUNES */

.button{
    background-color: var(--color-quaternary);
    border: 4px solid var(--color-quinary);
    font-size: var(--fontSize-secundary);
    padding: 10px 25px;
    color: var(--color-secundary);
    border-radius: var(--borderRadius-principal);
    font-family: var(--fontFamily--principal);
    transition: 0.5s;
    font-weight: 600;
}

.button:hover{
    background-color: var(--color-principal);
    color: var(--color-secundary);
    border: 4px solid #690102;
}

.title{
    color: var(--color-quaternary);
    font-family: var(--fontFamily--principal);
    font-size: 48px;
    font-weight: 800;
}

/* #endregion */

/* #region HOME */

.heroHome{
    width: 100%;
    background-image: linear-gradient(var(--color-transparent)), url(../LenguajeMarcas_2EV/Imagenes/Home/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.heroHome__carousel{
    display: flex;
    width: 300%; /* 3 slides */
    animation: slideAnimation 9s infinite;
    align-items: center;
    height: var(--width-total);
    margin: 150px 0;
}

.heroHome__slide{
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heroHome__slide--shirts{
    background-image: url(../LenguajeMarcas_2EV/Imagenes/Home/On_The_Road_Desktop_2000x1150px.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    justify-content: start;
}

.button--marginTop{
    margin-top: 50px;
}

.heroHome__match{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -125px;
    margin-bottom: -100px;
    gap: 25px;
}

.heroHome__text{
    color: var(--color-secundary);
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

.heroHome__img{
    height: 200px;
    margin-top: 0;
}

.heroHome__vs{
    font-weight: 600;
    font-size: 150px;
    color: var(--color-secundary);
}

@keyframes slideAnimation {
  0%   { transform: translateX(0%); }
  30%  { transform: translateX(0%); }
  33%  { transform: translateX(-100%); }
  63%  { transform: translateX(-100%); }
  66%  { transform: translateX(-200%); }
  96%  { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}

.newsHome{
    width: var(--width-total);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsHome__div{
    width: var(--width-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsHome__boxs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width-total);
    gap: 25px;
}

.newsHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #705f3a;
    transition: 0.5s;
}

.newsHome__box:hover{
    transform: translateY(-10px);
    border: 8px solid var(--color-principal);
}

.newsHome__img{
    height: 500px;
}

.newsHome__text{
    margin: 0 0 25px 25px;
}

.playersHome{
    width: var(--width-total);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsHome__div{
    width: var(--width-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsHome__boxs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width-total);
    gap: 25px;
}

.newsHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #705f3a;
    transition: 0.5s;
}

.newsHome__box:hover{
    transform: translateY(-10px);
    border: 8px solid var(--color-principal);
}

.newsHome__img{
    height: 500px;
}

.newsHome__text{
    margin: 0 0 25px 25px;
}
/* #endregion */


.buttons{
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-secundary);
    box-shadow: 0px 1px 10px var(--color-terciary);
}

.buttons__box{
    display: flex;
    flex-direction: row;
    align-items: center;    
    width: 600px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--color-quaternary);
    border: 3px solid var(--color-quinary);
    border-radius: 50px;
    justify-content: space-around;
}

.buttons__box a {
    color: var(--color-secundary);
    text-decoration: none;
}

.buttons__box a:hover{
    color: var(--color-quinary);
}


.players{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.players__box{
    width: 90%;
}

.players__row{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player__title{
    color: var(--color-quaternary);
    font-size: 40px;
}

.players__cards{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.players__cards--two{
    justify-content: space-around;
}

.players__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 400px;
    width: 300px;
    border-radius: 25px;
    box-shadow: 0px 5px 25px var(--color-terciary);

}

.players__content{
    height: 150px;
    font-size: 25px;
    background-color: var(--color-principal);
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.players__hidden {
    max-height: 0;
    font-weight: bold;
    font-size: 11px;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease;
    color: white;
}

.players__card:hover .players__content{
    width: 100%;
    font-size: 15px;
    text-align: left;
}

.players__card:hover .players__hidden {
    max-height: 150px;
    display: block;
    opacity: 1;
    visibility: visible;
}



.offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-top: 50px;
}

.offers__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.offers__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.offers__card{
    color: var(--color-terciary);
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.offers__image{
    width: 100%;
    height: auto;
}



.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--color-quaternary);
  margin-bottom: 20px;
}

.products__slider {
  width: 95%;
  overflow: hidden;
}

.products__slider-track {
  display: flex;
  gap: 20px;
  width: 300%;
  animation: scroll 20s linear infinite;
}

.products__slide {
    width: 100%;
    text-align: center;
    color: var(--color-terciary);
}

.products__image {
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50.1%); }
}

.products__slider:hover .products__slider-track {
  animation-play-state: paused;
}










@media (max-width: 900px){
    .header__title{
        font-size: 30px;
    }
    .nav{
        width: 35%;
    }
    .nav__link{
        font-size: 15px;
    }
    .offers__cards{
        gap: 10px;
    }
    .products__slider-track{
        width: 700%;
    }
    .buttons__box{
        width: 90%;
    }
    .players__cards{
        flex-direction: column;
    }
    .players__card{
        width: 80%;
        margin-top: 25px;
    }
}

@media (max-width: 1649px){
    .offers{
    
    }
    .offers__cards{
        gap: 10px;
    }
}