@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-principal: #ef0307;
    --color-secundary: rgb(247, 247, 247);
    --color-terciary: rgba(0, 0, 0, 0.5);
    --fontSize-principal: 56px;
    --fontSize-secundary: 16px;
}

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    background-color: var(--color-principal);
    color: var(--color-secundary);
}

.header__box{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__image{
    width: 65px;
}

.header__titleBox{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.header__title{
    font-size: var(--fontSize-principal);
}

.nav{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link{
    font-size: var(--fontSize-secundary);
}




.footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__box{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    border-top: 1px solid var(--color-terciary);
}

.footer__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column--big{
    height: 125px;
    width: 70%;
}

.footer__description{
    margin-top: -10px;
    margin-bottom: 40px;
    color: var(--color-terciary);
}

.footer__icons{
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__icon{
    width: 25px;
}

.footer__text{
    font-size: var(--fontSize-secundary);
    color: var(--color-terciary);
}
