@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-principal: #ef0307;
    --color-secundary: rgb(247, 247, 247);
    --color-terciary: rgba(0, 0, 0, 0.5);
    --color-fourth: rgb(155, 130, 74);
    --color-fifth: rgb(103, 87, 49);
    --fontSize-principal: 56px;
    --fontSize-secundary: 16px;
}

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    color: var(--color-secundary);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    background-color: var(--color-principal);
}

.header__box{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__image{
    width: 65px;
}

.header__titleBox{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.header__title{
    font-size: var(--fontSize-principal);
}

.nav{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link{
    font-size: var(--fontSize-secundary);
}



.buttons{
    height: 125px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-secundary);
    box-shadow: 0px 1px 10px var(--color-terciary);
}

.buttons__box{
    display: flex;
    flex-direction: row;
    align-items: center;    
    width: 600px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--color-fourth);
    border: 3px solid var(--color-fifth);
    border-radius: 50px;
    justify-content: space-around;
}

.buttons__box a {
    color: var(--color-secundary);
    text-decoration: none;
}

.buttons__box a:hover{
    color: var(--color-fifth);
}



.footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__box{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    border-top: 1px solid var(--color-terciary);
}

.footer__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column--big{
    height: 125px;
    width: 70%;
}

.footer__description{
    margin-top: -10px;
    margin-bottom: 40px;
    color: var(--color-terciary);
}

.footer__icons{
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__icon{
    width: 25px;
}

.footer__text{
    font-size: var(--fontSize-secundary);
    color: var(--color-terciary);
}


.players{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.players__box{
    width: 90%;
}

.players__row{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player__title{
    color: var(--color-fourth);
    font-size: 40px;
}

.players__cards{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.players__cards--two{
    justify-content: space-around;
}

.players__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 400px;
    width: 300px;
    border-radius: 25px;
    box-shadow: 0px 5px 25px var(--color-terciary);

}

.players__content{
    height: 150px;
    font-size: 25px;
    background-color: var(--color-principal);
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.players__hidden {
    max-height: 0;
    font-weight: bold;
    font-size: 11px;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease;
    color: white;
}

.players__card:hover .players__content{
    width: 100%;
    font-size: 15px;
    text-align: left;
}

.players__card:hover .players__hidden {
    max-height: 150px;
    display: block;
    opacity: 1;
    visibility: visible;
}


.offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-top: 50px;
}

.offers__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.offers__cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.offers__card{
    color: var(--color-terciary);
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.offers__image{
    width: 100%;
    height: auto;
}


.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--color-fourth);
  margin-bottom: 20px;
}

.products__slider {
  width: 95%;
  overflow: hidden;
}

.products__slider-track {
  display: flex;
  gap: 20px;
  width: 300%;
  animation: scroll 20s linear infinite;
}

.products__slide {
    width: 100%;
    text-align: center;
    color: var(--color-terciary);
}

.products__image {
  width: 100%;
  height: auto;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50.1%); }
}

.products__slider:hover .products__slider-track {
  animation-play-state: paused;
}










@media (max-width: 900px){
    .header__title{
        font-size: 30px;
    }
    .nav{
        width: 35%;
    }
    .nav__link{
        font-size: 15px;
    }
    .offers__cards{
        gap: 10px;
    }
    .products__slider-track{
        width: 700%;
    }
    .buttons__box{
        width: 90%;
    }
    .players__cards{
        flex-direction: column;
    }
    .players__card{
        width: 80%;
        margin-top: 25px;
    }
}

@media (max-width: 1649px){
    .offers{
    
    }
    .offers__cards{
        gap: 10px;
    }
}