@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-principal: #ef0307;
    --color-secundary: rgb(247, 247, 247);
    --color-terciary: rgba(0, 0, 0, 0.5);
    --color-quaternary: #9B824A;
    --fontSize-principal: 56px;
    --fontSize-secundary: 16px;
    --width-total: 100%;
    --width-principal: 90%;
    --borderRadius-principal: 40px;
    --fontFamily--principal: "Inter Tight", sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily--principal);
}

/* #region HEADER */

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    background-color: var(--color-principal);
    color: var(--color-secundary);
}

.header__box{
    width: var(--width-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__image{
    width: 65px;
}

.header__titleBox{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.header__title{
    font-size: var(--fontSize-principal);
}

.nav{
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link{
    font-size: var(--fontSize-secundary);
    background-color: transparent;
    border: none;
    color: var(--color-secundary);
    font-weight: 600;
    font-family: var(--fontFamily--principal);
    transition: 0.5s;
}

:hover.nav__link{
    color: var(--color-quaternary);
}

/* #endregion */

/* #region FOOTER */

.footer{
    width: var(--width-total);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__box{
    width: var(--width-principal);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    border-top: 1px solid var(--color-terciary);
}

.footer__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column--big{
    height: 125px;
    width: 70%;
}

.footer__description{
    margin-top: -10px;
    margin-bottom: 40px;
    color: var(--color-terciary);
}

.footer__icons{
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__icon{
    width: 25px;
}

.footer__text{
    font-size: var(--fontSize-secundary);
    color: var(--color-terciary);
}

/* #endregion FOOTER */

/* #region ELEMENTOS COMUNES */

.button{
    background-color: var(--color-quaternary);
    border: 4px solid #705f3a;
    font-size: var(--fontSize-secundary);
    padding: 10px 25px;
    color: var(--color-secundary);
    border-radius: var(--borderRadius-principal);
    font-family: var(--fontFamily--principal);
    transition: 0.5s;
    font-weight: 600;
}

.button:hover{
    background-color: var(--color-principal);
    color: var(--color-secundary);
    border: 4px solid #690102;
}

.title{
    color: var(--color-quaternary);
    font-family: var(--fontFamily--principal);
    font-size: 48px;
    font-weight: 800;
}

/* #endregion */

/* #region HOME */

.heroHome{
    width: 100%;
    background-image: linear-gradient(var(--color-terciary)), url(../LenguajeMarcas_2EV/Imagenes/Home/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.heroHome__carousel{
    display: flex;
    width: 300%;
    animation: slideAnimation 9s infinite;
    align-items: center;
    height: var(--width-total);
    margin: 150px 0;
}

.heroHome__slide{
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heroHome__slide--shirts{
    background-image: linear-gradient(var(--color-terciary)), url(../LenguajeMarcas_2EV/Imagenes/Home/On_The_Road_Desktop_2000x1150px.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    justify-content: start;
}

.button--marginTop{
    margin-top: 50px;
}

.heroHome__match{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -125px;
    margin-bottom: -100px;
    gap: 25px;
}

.heroHome__text{
    color: var(--color-secundary);
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

.heroHome__img{
    height: 200px;
    margin-top: 0;
}

.heroHome__vs{
    font-weight: 600;
    font-size: 150px;
    color: var(--color-secundary);
}

@keyframes slideAnimation {
  0%   { transform: translateX(0%); }
  30%  { transform: translateX(0%); }
  33%  { transform: translateX(-100%); }
  63%  { transform: translateX(-100%); }
  66%  { transform: translateX(-200%); }
  96%  { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}

.newsHome{
    width: var(--width-total);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsHome__div{
    width: var(--width-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsHome__boxs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width-total);
    gap: 25px;
}

.newsHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #705f3a;
    transition: 0.5s;
}

.newsHome__box:hover{
    transform: translateY(-10px);
    border: 8px solid var(--color-principal);
}

.newsHome__img{
    height: 500px;
}

.newsHome__text{
    margin: 0 0 25px 25px;
}

.playersHome{
    width: var(--width-total);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsHome__div{
    width: var(--width-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsHome__boxs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width-total);
    gap: 55px;
}

.newsHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #705f3a;
    transition: 0.5s;
}

.newsHome__box:hover{
    transform: translateY(-10px);
    border: 8px solid var(--color-principal);
    scale: 1.05;
}

.newsHome__img{
    height: 500px;
}

.newsHome__text{
    margin: 0 0 25px 25px;
}


/* #endregion */