:root{
    --color-principal: rgb(203, 38, 38);
    --color-secundario: rgb(247, 247, 247);
    --color-terciario: rgb(210, 210, 210);
}

.Header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

.Header__box{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header__image{
    width: 50px;
    height: 50px;
}

.Header__title{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.Navegator{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.Footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer__separator{
    height:1px;
    width: 80%;
    border-width:0;
    background-color:var(--color-terciario);
}

.Footer__box{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.Footer__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Footer__column--big{
    height: 125px;
    width: 70%;
}

.Footer__description{
    margin-top: -10px;
    margin-bottom: 40px;
}

.Footer__icons{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.Footer__icon{
    width: 75px;
    height: 75px;
}