@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-principal: #ef0307;
    --color-secundary: rgb(247, 247, 247);
    --color-terciary: rgba(0, 0, 0, 0.5);
    --color-quaternary: #9B824A;
    --fontSize-principal: 56px;
    --fontSize-secundary: 16px;
    --width-total: 100%;
    --width-principal: 90%;
    --borderRadius-principal: 40px;
    --fontFamily--principal: "Inter Tight", sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily--principal);
}

/* #region HEADER */

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    background-color: var(--color-principal);
    color: var(--color-secundary);
}

.header__box{
    width: var(--width-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__image{
    width: 65px;
}

.header__titleBox{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.header__title{
    font-size: var(--fontSize-principal);
}

.nav{
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__link{
    font-size: var(--fontSize-secundary);
    background-color: transparent;
    border: none;
    color: var(--color-secundary);
    font-weight: 600;
    font-family: var(--fontFamily--principal);
    transition: 0.5s;
}

:hover.nav__link{
    color: var(--color-quaternary);
}

.header__dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.header__dropdownMenu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__toggle{
    display: none;
}

.header__link{
    text-decoration: none;
    color: var(--fontSize-principal);
}

.header__dropdownIcon{
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.header__toggle:checked + .header__dropdownIcon + .header__dropdownMenu{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #endregion */

/* #region FOOTER */

.footer{
    width: var(--width-total);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer__box{
    width: var(--width-principal);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
    border-top: 2px solid var(--color-terciary);
    padding-top: 25px;
}

.footer__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: start;
    gap: 25px;
    margin-left: 100px;
}

.footer__column{
    display: flex;
    flex-direction: column;
}

.footer__text{
    text-decoration: none;
    color: var(--color-terciary);
    margin: 5px 0;
    transition: 0.5s;
}

.footer__text:hover{
    color: var(--color-quaternary);
    scale: 1.1;
}

.footer__left{
    margin-right: 50px;
}

.footer__title3{
    text-align: center;
}

.footer__img{
    width:170px;;
}

.footer__icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__icon{
    width: 40px;
    opacity: 0.5;
    transition: 0.5s;
}

.footer__icon:hover{
    scale: 1.1;
    opacity: 1;
}

.footer__description{
    color: var(--color-terciary);
}

.footer__form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
}

.footer__input{
    width: var(--width-total);
    height: 25px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--color-terciary);
    font-family: var(--fontFamily--principal);
    font-size: 15px;
}

.footer__input::placeholder{
    font-family: var(--fontFamily--principal);
    font-size: 15px;
}

/* #endregion FOOTER */

/* #region ELEMENTOS COMUNES */

.button{
    background-color: var(--color-quaternary);
    border: 4px solid #705f3a;
    font-size: var(--fontSize-secundary);
    padding: 10px 25px;
    color: var(--color-secundary);
    border-radius: var(--borderRadius-principal);
    font-family: var(--fontFamily--principal);
    transition: 0.5s;
    font-weight: 600;
}

.button:hover{
    background-color: var(--color-principal);
    color: var(--color-secundary);
    border: 4px solid #690102;
    scale: 1.1;
}

.title{
    color: var(--color-quaternary);
    font-family: var(--fontFamily--principal);
    font-size: 48px;
    font-weight: 800;
}

/* #endregion */

/* #region HOME */

.heroHome{
    width: 100%;
    background-image: linear-gradient(var(--color-terciary)), url(../LenguajeMarcas_2EV/Imagenes/Home/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
    overflow: hidden;
}

.heroHome__carousel{
    display: flex;
    width: 300%;
    animation: slideAnimation 9s infinite;
    align-items: center;
    height: var(--width-total);
    margin: 150px 0;
}

.heroHome__slide{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.heroHome__slide--shirts{
    background-image: linear-gradient(var(--color-terciary)), url(../LenguajeMarcas_2EV/Imagenes/Home/On_The_Road_Desktop_2000x1150px.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.heroHome__slide--tour{
    background-image: linear-gradient(var(--color-terciary)), url(../LenguajeMarcas_2EV/Imagenes/Home/FCACNJWWEAQHRKL.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.heroHome__title{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 80px;
    color: var(--color-secundary);
    font-weight: 600;
    font-family: var(--fontFamily--principal);
}

.heroHome__match{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -125px;
    margin-bottom: -100px;
    gap: 25px;
}

.heroHome__text{
    color: var(--color-secundary);
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    margin: 0;
}

.heroHome__img{
    height: 200px;
    margin-top: 0;
}

.heroHome__vs{
    font-weight: 600;
    font-size: 150px;
    color: var(--color-secundary);
}

@keyframes slideAnimation {
    0%   { transform: translateX(0%); }
    30%  { transform: translateX(0%); }
    33%  { transform: translateX(-100%); }
    63%  { transform: translateX(-100%); }
    66%  { transform: translateX(-200%); }
    96%  { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
}

.newsHome{
    width: var(--width-total);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsHome__div{
    width: var(--width-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsHome__boxs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width-total);
    gap: 25px;
}

.newsHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #705f3a;
    transition: 0.5s;
}

.newsHome__box:hover{
    transform: translateY(-10px);
    border: 8px solid var(--color-principal);
}

.newsHome__img{
    height: 500px;  
    margin: 0 auto;
    width: 100%;        
    object-fit: cover;
}

.newsHome__text{
    margin: 0 0 25px 25px;
}

.playersHome{
    width: var(--width-total);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newsHome__div{
    width: var(--width-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsHome__boxs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width-total);
    gap: 55px;
}

.newsHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #705f3a;
    transition: 0.5s;
}

.newsHome__box:hover{
    transform: translateY(-10px);
    border: 8px solid var(--color-principal);
    scale: 1.05;
}

.newsHome__img{
    height: 500px;
}

.newsHome__text{
    margin: 0 0 25px 25px;
}

.trophiesHome{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
    margin-top: 50px;
    overflow: hidden;
}

.trophiesHome__carousel{
    display: flex;
    width: 300%;
    animation: slideAnimation 9s infinite;
    align-items: center;
    height: var(--width-total);
    margin: 150px 0;
}

.trophiesHome__slide{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.trophiesHome__box{
    border-radius: var(--borderRadius-principal);
    box-shadow: 5px 5px 5px var(--color-terciary);
    overflow: hidden;
    border: 8px solid #705f3a;
    transition: 0.5s;
}

.trophiesHome__img{
    height: 500px;
}

.trophiesHome__text{
    margin: 0 0 25px 25px;
}

/* #endregion */

/* #region CLOTHES */

.clotherHero{
    background-image: linear-gradient(var(--color-terciary)), url(./Imagenes/Home/On_The_Road_Desktop_2000x1150px.webp);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 800px;
    gap: 25px;
}

.salesClothes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--width-total);
}

.salesClothes__carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.salesClothes__img{
    border-radius: 25px;
}

.salesClothes__box {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
    gap: 25px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.title--sales{
    position: absolute;
    margin-left: 50px;
}

.title--cross{
    text-decoration: line-through;
}

.clothes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--width-total);
}

.clothes__div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: var(--width-principal);
    gap: 50px;
}

.clothes__img{
    width: var(--width-total);
    height: 300px;
    background-image: url(./Imagenes/Clothes/m06975_f1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 15px 0 0;
    z-index: 1;
    transition: 0.5s;
}

.clothes__img:hover{
    background-image: url(./Imagenes/Clothes/m06975_f.webp);
    scale: 1.05;
}

.heart{
    position: absolute;
    margin-left: 10px;
    z-index: 2;
    transition: 0.5s;
}

.heart__input {
    display: none;
}

.heart__span {
    font-size: 40px;
    cursor: pointer;
    color: #ccc;
}

.heart__span::before {
    content: "❤︎";
}

.heart__input:checked + span::before {
    content: "❤︎";
    color: crimson;
    transition: 0.5s;
}

.heart:hover{
    scale: 1.05;
}

/* #region CLOTHES IMG */

.clothes__img--1{
    background-image: url(./Imagenes/Clothes/m06986_f1.webp);
}

.clothes__img--1:hover{
    background-image: url(./Imagenes/Clothes/m06986_f2.webp);
}

.clothes__img--2{
    background-image: url(./Imagenes/Clothes/u06898_f1.webp);
}

.clothes__img--2:hover{
    background-image: url(./Imagenes/Clothes/u06898_f.webp);
}

.clothes__img--3{
    background-image: url(./Imagenes/Clothes/u06966_f1.webp);
}

.clothes__img--3:hover{
    background-image: url(./Imagenes/Clothes/u06966_f2.webp);
}

.clothes__img--4{
    background-image: url(./Imagenes/Clothes/m06801_f1.webp);
}

.clothes__img--4:hover{
    background-image: url(./Imagenes/Clothes/m06801_f2.webp);
}

.clothes__img--5{
    background-image: url(./Imagenes/Clothes/m06934_f1.webp);
}

.clothes__img--5:hover{
    background-image: url(./Imagenes/Clothes/m06934_f2.webp);
}

.clothes__img--6{
    background-image: url(./Imagenes/Clothes/m06981_f1.webp);
}

.clothes__img--6:hover{
    background-image: url(./Imagenes/Clothes/m06981_f2.webp);
}

.clothes__img--7{
    background-image: url(./Imagenes/Clothes/m06989_f1.webp);
}

.clothes__img--7:hover{
    background-image: url(./Imagenes/Clothes/m06989_f2.webp);
}

/* #endregion */


/* #endregion */

/* #region MEDIAQUERIES */

@media (max-width: 1050px){

    /* #region MEDIAQUERIES FOOTER */

    .footer__img{
        width: 100px;
    }

    .footer__info{
        margin-left: 0;
    }

    .footer__form{
        margin-right: 0;
    }

    /* #endregion */

    /* #region MEDIAQUERIES HOME */

    .newsHome__img{
        height: 250px;
    }

    .newsHome__boxs{
        gap: 15px;
    }

    /* #endregion */

}

@media (max-width: 768px){

    /* #region MEDIAQUERIES HEADER */

    .nav{
        display: none;
    }

    .header__dropdown{
        display: block;
    }

    /* #endregion */

    /* #region MEDIAQUERIES HOME */

    .newsHome__img{
        height: 200px;
    }

    .newsHome__box{
        border: 5px solid var(--color-quaternary);
    }

    .newsHome__boxs{
        gap: 5px;
    }

    .text--hidden{
        display: none;
    }

    .button{
        font-size: 10px;
    }

    /* #endregion */

}

/* #endregion */

